# Password for the SIP directory users (1000-1019) in conf/directory/default/.
FREESWITCH_PASSWORD=SET THIS!

# SignalWire Personal Access Token, used at build time to reach the FreeSWITCH
# Community apt repo. Create one in your SignalWire Space under
# "Personal Access Tokens". Current tokens are prefixed pat_.
SIGNALWIRE_TOKEN=GET THIS!
